body {
}
ul {
list-style-type:none;
}
.hidden {
    display:none;

}
.main:hover {
   text-decoration:underline;
}
    .main:hover li.hidden {
    display:block;
    color:gray;
    position:relative;
    left:-30px;
    text-decoration:none;
    }

